.services-container {
    text-align: center;
    padding: 1rem;
    margin-top: 50px;
  }
  
  .services-header {
    margin-bottom: 2rem;
  }
  
  .services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service {
    text-align: center;
  width: 300px;
  margin: 4rem;
  }
  
  .service-img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .service-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .service-description {
    font-size: 1.2rem;
  }
  
  @media (max-width: 768px) {
    .service {
      width: 100%;
      margin: 1rem 0;
    }
  }
  