.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.contact-img {
  width: 50%;
  height: auto;
}

.card {
  width: 90%;
  max-width: 600px;
  padding: 2em;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .contact-img {
    display: none;
  }

  .card {
    width: 100%;
    max-width: none;
    padding: 1em;
  }
}

@media (max-width: 400px) {
  .card {
    padding: 0.5em;
  }
}
.btn :hover{
  color: blue;;
  background-color: #f2f2f2;
  
}
  