.notfound{
    background-attachment: fixed;
    
}
.notfound ,h4{
    margin-top: 50px;
    text-align: center;
  font-weight: 900;
}
@media (max-width: 768px) {
  .notfound , img{
    display: none;
  }
  .notfound{
    margin-top: 100px;
  }
}